[submodule "01_Scripts/RNAseq-toolkit"]
	path = 01_Scripts/RNAseq-toolkit
	url = git@github.com:tony-zhelonkin/RNAseq-toolkit.git
[submodule "01_Scripts/SciAgent-toolkit"]
	path = 01_Scripts/SciAgent-toolkit
	url = git@github.com:tony-zhelonkin/SciAgent-toolkit.git
